<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/reset.css"/>
	<link rel="stylesheet" href="/css/dashboard.css"/>
	<title>My Account</title>
<script src="/js/account.js"></script>
</head>
<body>
<!-- side : nav 영역 -->
<th:block layout:fragment="nav" th:include="@{/layouts/nav}"></th:block>

<!-- main : content 영역 -->
<div class="account-container">
	<div class="account-box">
		<div class="account-box-g">
			<div class="chart">
				<div class="donut">
					<div class="donut-label">1위 카테고리</div>
				</div>
				이번달 지출 통계
			</div>
			<div class="chart">
				지출 내역 리스트
			</div>
		</div>
		<div class="account-box-g">
			<div class="chart">
				<div class="donut">
					<div class="donut-label">1위 카테고리</div>
				</div>
				이번달 수입 통계
			</div>
			<div class="chart">
				수입 내역 리스트
			</div>
		</div>
		<div class="account-box-g">
			<div class="chart">
				<div class="donut">
					<div class="donut-label">1위 카테고리</div>
				</div>
				전월 수입 통계
			</div>
			<div class="chart">
				<div class="donut">
					<div class="donut-label">1위 카테고리</div>
				</div>
				전월 지출 통계
			</div>
		</div>
	</div>
	<div class="account-box">
		<div class="account-box-g">
			<div class="chart">
				사이트 소개말?
			</div>
			<div class="chart">
				
			</div>
		</div>
		<div class="account-box-g">
			<div class="chart">
				기본적인 유저 정보
			</div>
		</div>
	</div>
</div>
</body>
</html>