<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/index.css">
	<title>My Account</title>
</head>
<body>
	<div class="join-container">
		<div class="join-item">
			<div class="logo-box">
				<div class="logo">Acot</div>
				<div class="logo-after">
					<p class="logo-head">My Account</p>
					<p class="logo-sub">방문을 환영합니다.</p>
				</div>
			</div>
			<div class="join-list">
				<p>가계부로 하루를 정리해보세요.</p>
				<p>내일을 계획할 수 있는 오롯이 나를 위한 시간입니다.</p>
				<p>가계부를 쓰는 데는 평균 10분 입니다.</p>
				<p>10분의 차이가 평생의 기반이 됩니다.</p>
			</div>
			<div class="instargram">
				<p>만든이</p>
				<p>자바를 자바머거</p>
			</div>
		</div>
		<div class="join-right">
			<div class="join-right-top">
				<div class="join-h1">회원가입</div>
			</div>
			<form id="form">
				<p>USERNAME</p>
				<input type="text" id="username" placeholder="닉네임 또는 이름"/>
				<label class="right-input-label"></label>
				<p>USERID</p>
				<input type="text" id="userid" placeholder="아이디"/>
				<label class="right-input-label"></label>
				<p>PASSWORD</p>
				<input type="password" id="password" placeholder="비밀번호"/>
				<label class="right-input-label"></label>
				<!-- ✔ 입력 데이터가 유효합니다. JOIN 버튼을 클릭하세요. -->
				<div id="reg"></div>
				<div class="join-right-box">
					<button id="back" class="btn-blue" type="submit">B A C K</button>
					<button id="join" class="btn-blue" type="submit">J O I N</button>
				</div>
			</form>
		</div>
	</div>
<script src="/js/index.js"></script>
</body>
</html>